<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><b><%= product.name.upcase %></b></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td><b>
    <%= product.category.name.upcase %>
  </b></td>
  <td><b>
    <%= product.price %>
  </b></td>
  <td><b>
    <%= product.quantity %>
  </b></td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, product], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>