<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category.name %> &raquo; <%= @product.name.upcase %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
        <div>
          <% if current_user %>
          <%= form_for [@product, @review] do |f|%>
          <%= f.text_field :description, placeholder: "LEAVE A REVIEW"%>
          <%= f.select :rating, options_for_select(1..5)%>
          <%= submit_tag "SUBMIT"%>
          <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dd>
            <h1><%= @product.name.upcase %></h1>
          </dd>
          <% if @product.reviews.length > 0 %>
          <dd><% @product.reviews.average(:rating).to_i.times { %>
            <span class="fa fa-star checked"></span>
            <% } %></dd>
          <% (5 - @product.reviews.average(:rating).to_i).times { %>
          <span class="fa fa-star"></span>
          <% } %> </span>
          <% else %>
          <dd><i>This product has not been reviewed yet.</i></dd>
          <% end %>
          <dd class="description"><%= @product.description %></dd>
          <dt>QUANTITY</dt>
          <dd><%= @product.quantity %></dd>
          <dt>PRICE</dt>
          <dd><%= @product.price %></dd>
          <br>
          <div>
            <% if @product.reviews.length > 0 %>
            <dt>REVIEWS</dt>
            <div class="reviews">
              <dd>
                <% @product.reviews.each do |review| %>
                <%puts review.user%>
                <%= render 'review', review: review %>
                <% end %>
                <% else %>
              <dd><i>Be the first to review this product!</i></dd>
              <% end %>
              </dd>
            </div>
          </div>
        </dl>
      </div>
    </div>

  </article>

</section>